# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyd
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset (not tracked)
data/

# Flutter / Dart
.dart_tool/
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
coverage/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/

# Generated plugin registrants
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m
